# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# Model artifacts
*.pkl
 
# Python bytecode
*.pyo
*.pyd